.root {
    -fx-background-color: #414366;
    -fx-accent: derive(#6699CC, 50%); //TODO THIS
}

/*==============================================================================
================================ Message Board ================================
==============================================================================*/
#board-wrapper {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

/*#message-board {
    -fx-background-color: blue;
}*/

.scroll-bar .thumb {
    -fx-background-color: white;
    -fx-opacity: 0.5;
    -fx-background-radius: 2em;
    /*-fx-background-insets: 2, 0;*/
}

.scroll-bar .track-background {
    -fx-background-color: #414366;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    /*-fx-shape: " ";*/
    -fx-background-color: white;
    -fx-opacity: 0.5;
}

/*==============================================================================
=================================== Messages ===================================
==============================================================================*/

.user-message {
    -fx-background-color: transparent;
    /*-fx-fill: derive(#414366, 60%);*/
}

.system-message {
    -fx-background-color: transparent;
    /*-fx-fill: derive(#414366, 30%);*/
}

.user-visual {
    -fx-fill: derive(#414366, 60%);
    -fx-arc-height: 15;
    -fx-arc-width: 15;
    /*-fx-text-fill: white;*/
}

.system-visual {
    -fx-fill: derive(#414366, 20%);
    -fx-arc-height: 15;
    -fx-arc-width: 15;
    /*-fx-text-fill: black;*/
}

.user-label {
    -fx-background-color: transparent;
    /*-fx-text-fill: white;*/
    /*-fx-cursor: text;*/
}

.system-label {
    -fx-background-color: transparent;
    /*-fx-text-fill: black;*/
    /*-fx-cursor: text;*/
}

.options-button {
    -fx-font-size: 8pt;
    -fx-border-color: derive(#414366, 30%);
    -fx-border-width: 1;
    -fx-border-radius: 10px;
    -fx-text-fill: derive(#414366, 30%);
    -fx-cursor: hand;
}

.options-button:hover {
    -fx-border-color: derive(#414366, 50%);
    -fx-text-fill: derive(#414366, 50%);
}

.remove-button {
    -fx-font-size: 12pt;
    -fx-text-fill: derive(#414366, 30%);
    -fx-cursor: hand;
}

.remove-button:hover {
    -fx-text-fill: derive(#414366, 50%);
}

.tooltip {
    -fx-font-size: 8.5pt;
    -fx-background-color: derive(#414366, 10%);
    -fx-text-fill: white;
    -fx-background-radius: 3px;
    -fx-padding: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0.0, 0, 3)
}

/*==============================================================================
==================================== Input ===================================
==============================================================================*/

#input-wrapper {
    -fx-background-color: derive(#414366, -4%);
}

#input-visual {
    -fx-fill: derive(#414366, 15%);
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
    -fx-arc-height: 35;
    -fx-arc-width: 35;
}

#input {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

#send-button {
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-background-color: derive(#414366, 15%);
    -fx-cursor: hand;
    -fx-arc-height: 50;
    -fx-arc-width: 50;
}

#send-button:hover {
    -fx-background-color: derive(#414366, 25%);
}
