#board-wrapper {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

#message-board {
    /*-fx-background-color: blue;*/
}

#input-wrapper {
    -fx-background-color: derive(white, -4%);
}

#input-visual {
    -fx-fill: white;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
    -fx-arc-height: 35;
    -fx-arc-width: 35;
}

#input {
    -fx-background-color: transparent;
    /*-fx-text-fill: white;*/
}

#root {
    -fx-background-color: white;
}

.user-message {
    -fx-background-color: transparent;
    /*-fx-fill: derive(#414366, 60%);*/
}

.system-message {
    -fx-background-color: transparent;
    /*-fx-fill: derive(#414366, 30%);*/
}

.user-visual {
    -fx-fill: #6699CC;
    -fx-arc-height: 15;
    -fx-arc-width: 15;
    /*-fx-text-fill: white;*/
}

.system-visual {
    -fx-fill: #edecea;
    -fx-arc-height: 15;
    -fx-arc-width: 15;
    /*-fx-text-fill: black;*/
}

.user-label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.system-label {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.scroll-bar .thumb {
    -fx-background-color: black;
    -fx-opacity: 0.5;
    -fx-background-radius: 2em;
    /*-fx-background-insets: 2, 0;*/
}

.scroll-bar .track-background {
    -fx-background-color: white;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    /*-fx-shape: " ";*/
    -fx-background-color: black;
    -fx-opacity: 0.5;
}
